nav {
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 130px;
}